:root { 
  --black: #000000;
  --cotton-seed: #c3bcbc;
  --dove-gray: #707070;
  --woodsmoke: #101010;
 
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-xl: 30px;
  --font-size-xxl: 32px;
 
  --font-family-interstatemono-bold: "InterstateMono-Bold", Helvetica;
  --font-family-interstatemono-regular: "InterstateMono-Regular", Helvetica;
}
.interstatemono-bold-cotton-seed-32px {
  color: var(--cotton-seed);
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.border-2px-black {
  border: 2px solid var(--black);
}

.border-2px-dove-gray {
  border: 2px solid var(--dove-gray);
}
