:root { 
  --black: #000000;
  --chardon: #fff2f2;
  --dove-gray: #707070;
  --white: #ffffff;
 
  --font-size-l: 29px;
  --font-size-m: 20px;
  --font-size-xl: 47px;
 
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
}
.helveticaneue-regular-normal-chardon-20px {
  color: var(--chardon);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}

.border-2px-dove-gray {
  border: 2px solid var(--dove-gray);
}
