/* screen - web-1920-startsite */

.web-1920-startsite {
  background-color: var(--black);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-startsite .rechteck-21-q56bxD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-startsite .rechteck-21-q56bxD video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.web-1920-startsite .rechteck-21-q56bxD img {
  object-fit: cover;
}

.web-1920-startsite .x-q56bxD {
  background-color: transparent;
  bottom: calc(23.13% - 11px);
  color: var(--dove-gray);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 49px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.53% - 1px);
  text-align: right;
  white-space: nowrap;
  width: 2px;
}

.web-1920-startsite .rechteck-4-q56bxD {
  background-color: transparent;
  cursor: pointer;
  height: 457px;
  position: fixed;
  right: calc(46.32% - 568px);
  top: calc(47.03% - 215px);
  width: 1227px;
}
