/* screen - web-1920-2 */

.web-1920-2 {
  background-color: #fafafa;
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-2 .axie-infinity-scholarship-07RRWM {
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 415px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .newsletter-07RRWM {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1301px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .rechteck-7-07RRWM {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 358px;
  pointer-events: auto;
  position: absolute;
  top: 512px;
  transition: all 0.2s ease;
  width: 401px;
}

.web-1920-2 .rechteck-7-07RRWM:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.web-1920-2 .coming-soon-07RRWM {
  background-color: transparent;
  color: #2c2a2a;
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1300px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 580px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .rechteck-13-07RRWM {
  background-color: transparent;
  border-radius: 30px;
  height: 56px;
  left: 1222px;
  position: absolute;
  top: 512px;
  width: 278px;
}

.web-1920-2 .rechteck-14-07RRWM {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1760px;
  position: absolute;
  top: 1012px;
  width: 110px;
}

.web-1920-2 .about-07RRWM {
  background-color: transparent;
  color: var(--woodsmoke);
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1785px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 1022px;
  white-space: nowrap;
  width: auto;
}
