/* screen - web-1920-homepage */

.web-1920-homepage {
  background-color: var(--black);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-homepage .rechteck-22-GJEUwL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-homepage .rechteck-22-GJEUwL video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.web-1920-homepage .rechteck-22-GJEUwL img {
  object-fit: cover;
}

.web-1920-homepage .rechteck-20-GJEUwL {
  background-color: transparent;
  height: 393px;
  position: absolute;
  right: calc(29.59% - 88px);
  top: calc(42.65% - 168px);
  width: 298px;
}

.web-1920-homepage .rechteck-18-GJEUwL {
  background-color: #6462624d;
  border-radius: 45px;
  bottom: calc(47.55% - 320px);
  height: 672px;
  position: absolute;
  right: calc(28.02% - 123px);
  width: 439px;
}

.web-1920-homepage .rechteck-19-GJEUwL {
  background-color: transparent;
  height: 393px;
  left: calc(29.96% - 89px);
  position: absolute;
  top: calc(42.65% - 168px);
  width: 298px;
}

.web-1920-homepage .rechteck-17-GJEUwL {
  background-color: #6462624d;
  border-radius: 45px;
  bottom: calc(47.55% - 320px);
  height: 672px;
  left: calc(28.09% - 123px);
  position: absolute;
  width: 439px;
}

.web-1920-homepage .rechteck-2-GJEUwL {
  background-color: transparent;
  border: 4px solid var(--dove-gray);
  border-radius: 36px;
  height: 60px;
  position: absolute;
  right: 52px;
  top: 60px;
  width: 175px;
}

.web-1920-homepage .connect-GJEUwL {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 104px;
  text-align: right;
  top: 78px;
  white-space: nowrap;
  width: 78px;
}

.web-1920-homepage .rechteck-8-GJEUwL {
  background-color: transparent;
  border-radius: 36px;
  bottom: calc(28.67% - 13px);
  height: 44px;
  left: calc(29.96% - 89px);
  position: absolute;
  width: 298px;
}

.web-1920-homepage .rechteck-9-GJEUwL {
  background-color: transparent;
  border-radius: 36px;
  bottom: calc(28.67% - 13px);
  height: 44px;
  position: absolute;
  right: calc(29.96% - 89px);
  width: 298px;
}

.web-1920-homepage .login-axie-scholatship-GJEUwL {
  background-color: transparent;
  bottom: calc(28.77% - 7px);
  cursor: pointer;
  height: 25px;
  left: calc(31.10% - 64px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 206px;
}

.web-1920-homepage .login-newsletter-GJEUwL {
  background-color: transparent;
  bottom: calc(28.77% - 7px);
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(31.52% - 48px);
  text-align: right;
  white-space: nowrap;
  width: 153px;
}

.web-1920-homepage .rechteck-12-GJEUwL {
  background-color: transparent;
  border-radius: 36px;
  bottom: calc(22.30% - 10px);
  height: 44px;
  left: calc(29.96% - 89px);
  position: absolute;
  width: 298px;
}

.web-1920-homepage .apply-axie-scholatship-GJEUwL {
  background-color: transparent;
  bottom: calc(22.51% - 6px);
  cursor: pointer;
  height: 25px;
  left: calc(31.02% - 65px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 208px;
}

.web-1920-homepage .rechteck-23-GJEUwL {
  background-color: var(--white);
  height: 38px;
  left: 51px;
  position: absolute;
  top: 81px;
  width: 40px;
}

.web-1920-homepage .polygon-1-GJEUwL {
  background-color: transparent;
  height: 36px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 54px;
}
