/* screen - applyscholarship */

.applyscholarship {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.applyscholarship .rechteck-9-gIhnoh {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.applyscholarship .rechteck-10-gIhnoh {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.applyscholarship .rechteck-11-gIhnoh {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.applyscholarship .rechteck-12-gIhnoh {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.applyscholarship .send-gIhnoh {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .rechteck-8-gIhnoh {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.applyscholarship .rechteck-8-gIhnoh:hover {
  transform: translate(0, -5px);
}

.applyscholarship .apply-for-scholarship-gIhnoh {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .enter-your-full-name-gIhnoh {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.applyscholarship .enter-your-full-name-gIhnoh::placeholder {
  color: #c3bcbc99;
}

.applyscholarship .enter-your-email-adress-gIhnoh {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.applyscholarship .enter-your-email-adress-gIhnoh::placeholder {
  color: #c3bcbc99;
}

.applyscholarship .enter-your-pers-al-ronin-wallet-gIhnoh {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.applyscholarship .enter-your-pers-al-ronin-wallet-gIhnoh::placeholder {
  color: #c3bcbc99;
}

.applyscholarship .noalnd-gIhnoh {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .rechteck-14-gIhnoh {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.applyscholarship .connect-gIhnoh {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .download-ronin-wallet-gIhnoh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .rechteck-9-8axq3r {
  background-color: transparent;
  border-radius: 15px;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.applyscholarship .rechteck-10-8axq3r {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.applyscholarship .rechteck-11-8axq3r {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.applyscholarship .rechteck-12-8axq3r {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.applyscholarship .send-8axq3r {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .rechteck-8-8axq3r {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.applyscholarship .rechteck-8-8axq3r:hover {
  transform: translate(0, -5px);
}

.applyscholarship .apply-for-scholarship-8axq3r {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .enter-your-full-name-8axq3r {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.applyscholarship .enter-your-full-name-8axq3r::placeholder {
  color: #c3bcbc99;
}

.applyscholarship .enter-your-email-adress-8axq3r {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.applyscholarship .enter-your-email-adress-8axq3r::placeholder {
  color: #c3bcbc99;
}

.applyscholarship .enter-your-pers-al-ronin-wallet-8axq3r {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.applyscholarship .enter-your-pers-al-ronin-wallet-8axq3r::placeholder {
  color: #c3bcbc99;
}

.applyscholarship .noalnd-8axq3r {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .rechteck-14-8axq3r {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.applyscholarship .connect-8axq3r {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.applyscholarship .download-ronin-wallet-8axq3r {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
  
}
