/* screen - index */

.index {
  background-color: var(--black);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.index .rechteck-18-IO3Fu5 {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .rechteck-18-IO3Fu5 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.index .rechteck-18-IO3Fu5 img {
  object-fit: cover;
}

.index .pfad-1-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 1080px;
  left: -317px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 2592px;
}
