/* screen - mainpage */

.mainpage {
  background-color: #fafafa;
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.mainpage .axie-infinity-scholarship-PXLNMr {
  background-color: transparent;
  bottom: calc(49.91% - 11px);
  color: var(--black);
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  left: calc(25.46% - 74px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 290px;
}

.mainpage .newsletter-PXLNMr {
  background-color: transparent;
  bottom: calc(49.91% - 11px);
  color: var(--black);
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(27.64% - 34px);
  text-align: left;
  white-space: nowrap;
  width: 122px;
}

.mainpage .rechteck-7-PXLNMr {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: calc(23.57% - 95px);
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 28px);
  transition: all 0.2s ease;
  width: 401px;
}

.mainpage .rechteck-7-PXLNMr:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.mainpage .coming-soon-PXLNMr {
  background-color: transparent;
  bottom: calc(45.18% - 10px);
  color: #2c2a2a;
  font-family: var(--font-family-interstatemono-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(27.21% - 36px);
  text-align: left;
  white-space: nowrap;
  width: 134px;
}

.mainpage .rechteck-13-PXLNMr {
  background-color: transparent;
  border-radius: 30px;
  height: 56px;
  position: absolute;
  right: calc(25.58% - 71px);
  top: calc(50.00% - 28px);
  width: 278px;
}

.mainpage .rechteck-14-PXLNMr {
  background-color: transparent;
  border-radius: 30px;
  bottom: 28px;
  height: 40px;
  position: absolute;
  right: 50px;
  width: 110px;
}

.mainpage .about-PXLNMr {
  background-color: transparent;
  bottom: 36px;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 73px;
  text-align: center;
  white-space: nowrap;
  width: 62px;
}

.mainpage .noalnd-PXLNMr {
  background-color: transparent;
  height: 27px;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: 122px;
}

.mainpage .rechteck-14-IPldr4 {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  position: absolute;
  right: 45px;
  top: 45px;
  width: 110px;
}

.mainpage .connect-PXLNMr {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 56px;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: 86px;
}

.mainpage .rechteck-14-cyx4fk {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  position: absolute;
  right: 45px;
  top: 45px;
  width: 110px;
}

.mainpage .connect-IPldr4 {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 56px;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: 86px;
}

.mainpage .metamaskaccount{
  background-color: transparent;
  color: var(--woodsmoke);
  cursor: pointer;
  font-family: var(--font-family-interstatemono-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding-left: 1310px;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}
