/* screen - mintnft */

.mintnft {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.mintnft .rechteck-9-SxjPSZ {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.mintnft .rechteck-10-SxjPSZ {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.mintnft .rechteck-11-SxjPSZ {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.mintnft .rechteck-12-SxjPSZ {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.mintnft .send-SxjPSZ {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.mintnft .rechteck-8-SxjPSZ {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.mintnft .rechteck-8-SxjPSZ:hover {
  transform: translate(0, -5px);
}

.mintnft .apply-for-scholarship-SxjPSZ {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.mintnft .enter-your-full-name-SxjPSZ {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.mintnft .enter-your-full-name-SxjPSZ::placeholder {
  color: #c3bcbc99;
}

.mintnft .enter-your-email-adress-SxjPSZ {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.mintnft .enter-your-email-adress-SxjPSZ::placeholder {
  color: #c3bcbc99;
}

.mintnft .enter-your-pers-al-ronin-wallet-SxjPSZ {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.mintnft .enter-your-pers-al-ronin-wallet-SxjPSZ::placeholder {
  color: #c3bcbc99;
}

.mintnft .noalnd-SxjPSZ {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.mintnft .rechteck-14-SxjPSZ {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.mintnft .connect-SxjPSZ {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.mintnft .download-ronin-wallet-SxjPSZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.mintnft .rechteck-9-LcZvzF {
  background-color: transparent;
  border-radius: 15px;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.mintnft .rechteck-10-LcZvzF {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.mintnft .rechteck-11-LcZvzF {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.mintnft .rechteck-12-LcZvzF {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.mintnft .send-LcZvzF {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.mintnft .rechteck-8-LcZvzF {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.mintnft .rechteck-8-LcZvzF:hover {
  transform: translate(0, -5px);
}

.mintnft .apply-for-scholarship-LcZvzF {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.mintnft .enter-your-full-name-LcZvzF {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.mintnft .enter-your-full-name-LcZvzF::placeholder {
  color: #c3bcbc99;
}

.mintnft .enter-your-email-adress-LcZvzF {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.mintnft .enter-your-email-adress-LcZvzF::placeholder {
  color: #c3bcbc99;
}

.mintnft .enter-your-pers-al-ronin-wallet-LcZvzF {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.mintnft .enter-your-pers-al-ronin-wallet-LcZvzF::placeholder {
  color: #c3bcbc99;
}

.mintnft .noalnd-LcZvzF {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.mintnft .rechteck-14-LcZvzF {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.mintnft .connect-LcZvzF {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.mintnft .download-ronin-wallet-LcZvzF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.mintnft .rechteck-19-SxjPSZ {
  background-color: var(--white);
  border-radius: 15px;
  height: 851px;
  left: 654px;
  position: absolute;
  top: 75px;
  width: 613px;
}

.mintnft .mint-SxjPSZ {
  background-color: transparent;
  height: 20px;
  left: 1107px;
  object-fit: cover;
  position: absolute;
  top: 839px;
  width: 48px;
}

.mintnft .rechteck-22-SxjPSZ {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1076px;
  position: absolute;
  top: 829px;
  width: 110px;
}

.mintnft .rechteck-23-SxjPSZ {
  background-color: var(--white);
  height: 491px;
  left: 712px;
  position: absolute;
  top: 135px;
  width: 497px;
}

.mintnft .mint-noland-nft-ter-scholarship-SxjPSZ {
  background-color: transparent;
  height: auto;
  left: 712px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 676px;
  width: 499px;
}
