/* screen - mintingnft */

.mintingnft {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.mintingnft .rechteck-9-e0ITLz {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.mintingnft .rechteck-10-e0ITLz {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.mintingnft .rechteck-11-e0ITLz {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.mintingnft .rechteck-12-e0ITLz {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.mintingnft .send-e0ITLz {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .rechteck-8-e0ITLz {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.mintingnft .rechteck-8-e0ITLz:hover {
  transform: translate(0, -5px);
}

.mintingnft .apply-for-scholarship-e0ITLz {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .enter-your-full-name-e0ITLz {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.mintingnft .enter-your-full-name-e0ITLz::placeholder {
  color: #c3bcbc99;
}

.mintingnft .enter-your-email-adress-e0ITLz {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.mintingnft .enter-your-email-adress-e0ITLz::placeholder {
  color: #c3bcbc99;
}

.mintingnft .enter-your-pers-al-ronin-wallet-e0ITLz {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.mintingnft .enter-your-pers-al-ronin-wallet-e0ITLz::placeholder {
  color: #c3bcbc99;
}

.mintingnft .noalnd-e0ITLz {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .rechteck-14-e0ITLz {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.mintingnft .connect-e0ITLz {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .download-ronin-wallet-e0ITLz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .rechteck-9-jxeDk8 {
  background-color: transparent;
  border-radius: 15px;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.mintingnft .rechteck-10-jxeDk8 {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.mintingnft .rechteck-11-jxeDk8 {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.mintingnft .rechteck-12-jxeDk8 {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.mintingnft .send-jxeDk8 {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .rechteck-8-jxeDk8 {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.mintingnft .rechteck-8-jxeDk8:hover {
  transform: translate(0, -5px);
}

.mintingnft .apply-for-scholarship-jxeDk8 {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .enter-your-full-name-jxeDk8 {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.mintingnft .enter-your-full-name-jxeDk8::placeholder {
  color: #c3bcbc99;
}

.mintingnft .enter-your-email-adress-jxeDk8 {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.mintingnft .enter-your-email-adress-jxeDk8::placeholder {
  color: #c3bcbc99;
}

.mintingnft .enter-your-pers-al-ronin-wallet-jxeDk8 {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.mintingnft .enter-your-pers-al-ronin-wallet-jxeDk8::placeholder {
  color: #c3bcbc99;
}

.mintingnft .noalnd-jxeDk8 {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .rechteck-14-jxeDk8 {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.mintingnft .connect-jxeDk8 {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .download-ronin-wallet-jxeDk8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.mintingnft .rechteck-19-e0ITLz {
  background-color: var(--white);
  border-radius: 15px;
  height: 851px;
  left: 654px;
  position: absolute;
  top: 75px;
  width: 613px;
}

.mintingnft .minting-mft-e0ITLz {
  background-color: transparent;
  height: auto;
  left: 712px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 676px;
  white-space: nowrap;
  width: 499px;
}

.mintingnft .rechteck-23-e0ITLz {
  background-color: var(--white);
  height: 491px;
  left: 712px;
  position: absolute;
  top: 135px;
  width: 497px;
}
