/* screen - succefullformla */

.succefullformla {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.succefullformla .rechteck-9-bhKHJn {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.succefullformla .rechteck-10-bhKHJn {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.succefullformla .rechteck-11-bhKHJn {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.succefullformla .rechteck-12-bhKHJn {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.succefullformla .send-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-8-bhKHJn {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.succefullformla .rechteck-8-bhKHJn:hover {
  transform: translate(0, -5px);
}

.succefullformla .apply-for-scholarship-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .enter-your-full-name-bhKHJn {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.succefullformla .enter-your-full-name-bhKHJn::placeholder {
  color: #c3bcbc99;
}

.succefullformla .enter-your-email-adress-bhKHJn {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.succefullformla .enter-your-email-adress-bhKHJn::placeholder {
  color: #c3bcbc99;
}

.succefullformla .enter-your-pers-al-ronin-wallet-bhKHJn {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.succefullformla .enter-your-pers-al-ronin-wallet-bhKHJn::placeholder {
  color: #c3bcbc99;
}

.succefullformla .noalnd-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-14-bhKHJn {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.succefullformla .connect-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .download-ronin-wallet-bhKHJn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-9-5RcbJs {
  background-color: transparent;
  border-radius: 15px;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.succefullformla .rechteck-10-5RcbJs {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.succefullformla .rechteck-11-5RcbJs {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.succefullformla .rechteck-12-5RcbJs {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.succefullformla .send-5RcbJs {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-8-5RcbJs {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.succefullformla .rechteck-8-5RcbJs:hover {
  transform: translate(0, -5px);
}

.succefullformla .apply-for-scholarship-5RcbJs {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .enter-your-full-name-5RcbJs {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.succefullformla .enter-your-full-name-5RcbJs::placeholder {
  color: #c3bcbc99;
}

.succefullformla .enter-your-email-adress-5RcbJs {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.succefullformla .enter-your-email-adress-5RcbJs::placeholder {
  color: #c3bcbc99;
}

.succefullformla .enter-your-pers-al-ronin-wallet-5RcbJs {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.succefullformla .enter-your-pers-al-ronin-wallet-5RcbJs::placeholder {
  color: #c3bcbc99;
}

.succefullformla .noalnd-5RcbJs {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-14-5RcbJs {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.succefullformla .connect-5RcbJs {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .download-ronin-wallet-5RcbJs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-19-bhKHJn {
  background-color: var(--white);
  border-radius: 15px;
  height: 511px;
  left: 654px;
  position: absolute;
  top: 199px;
  width: 613px;
}

.succefullformla .succefull-registration-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 691px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 332px;
  white-space: nowrap;
  width: 499px;
}

.succefullformla .we-will-send-yo-y-axie-infinity-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 691px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 426px;
  width: 499px;
}

.succefullformla .close-bhKHJn {
  background-color: transparent;
  height: auto;
  left: 1096px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 646px;
  white-space: nowrap;
  width: auto;
}

.succefullformla .rechteck-25-bhKHJn {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 1039px;
  pointer-events: auto;
  position: absolute;
  top: 632px;
  transition: all 0.2s ease;
  width: 203px;
}

.succefullformla .rechteck-25-bhKHJn:hover {
  transform: translate(0, -5px);
}
