/* screen - succefullyminted */

.succefullyminted {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.succefullyminted .rechteck-9-juH9lF {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.succefullyminted .rechteck-10-juH9lF {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.succefullyminted .rechteck-11-juH9lF {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.succefullyminted .rechteck-12-juH9lF {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.succefullyminted .send-juH9lF {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .rechteck-8-juH9lF {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.succefullyminted .rechteck-8-juH9lF:hover {
  transform: translate(0, -5px);
}

.succefullyminted .apply-for-scholarship-juH9lF {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .enter-your-full-name-juH9lF {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.succefullyminted .enter-your-full-name-juH9lF::placeholder {
  color: #c3bcbc99;
}

.succefullyminted .enter-your-email-adress-juH9lF {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.succefullyminted .enter-your-email-adress-juH9lF::placeholder {
  color: #c3bcbc99;
}

.succefullyminted .enter-your-pers-al-ronin-wallet-juH9lF {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.succefullyminted .enter-your-pers-al-ronin-wallet-juH9lF::placeholder {
  color: #c3bcbc99;
}

.succefullyminted .noalnd-juH9lF {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .rechteck-14-juH9lF {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.succefullyminted .connect-juH9lF {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .download-ronin-wallet-juH9lF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .rechteck-9-Bsn3UX {
  background-color: transparent;
  border-radius: 15px;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.succefullyminted .rechteck-10-Bsn3UX {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.succefullyminted .rechteck-11-Bsn3UX {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.succefullyminted .rechteck-12-Bsn3UX {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.succefullyminted .send-Bsn3UX {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .rechteck-8-Bsn3UX {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.succefullyminted .rechteck-8-Bsn3UX:hover {
  transform: translate(0, -5px);
}

.succefullyminted .apply-for-scholarship-Bsn3UX {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .enter-your-full-name-Bsn3UX {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.succefullyminted .enter-your-full-name-Bsn3UX::placeholder {
  color: #c3bcbc99;
}

.succefullyminted .enter-your-email-adress-Bsn3UX {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.succefullyminted .enter-your-email-adress-Bsn3UX::placeholder {
  color: #c3bcbc99;
}

.succefullyminted .enter-your-pers-al-ronin-wallet-Bsn3UX {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.succefullyminted .enter-your-pers-al-ronin-wallet-Bsn3UX::placeholder {
  color: #c3bcbc99;
}

.succefullyminted .noalnd-Bsn3UX {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .rechteck-14-Bsn3UX {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.succefullyminted .connect-Bsn3UX {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .download-ronin-wallet-Bsn3UX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.succefullyminted .rechteck-19-juH9lF {
  background-color: var(--white);
  border-radius: 15px;
  height: 851px;
  left: 654px;
  position: absolute;
  top: 75px;
  width: 613px;
}

.succefullyminted .succefully-minted-juH9lF {
  background-color: transparent;
  height: auto;
  left: 712px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 676px;
  white-space: nowrap;
  width: 499px;
}

.succefullyminted .rechteck-23-juH9lF {
  background-color: var(--white);
  height: 491px;
  left: 712px;
  position: absolute;
  top: 135px;
  width: 497px;
}

.succefullyminted .congratulationn-ut-the-forumula-juH9lF {
  background-color: transparent;
  height: auto;
  left: 712px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 762px;
  width: 499px;
}
