/* screen - web-1920-1 */

.web-1920-1 {
  background-color: var(--black);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-1 .rechteck-18-HlzXCz {
  background-color: transparent;
  border: 0px solid var(--dove-gray);
  height: 1080px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-1 .rechteck-18-HlzXCz video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.web-1920-1 .rechteck-18-HlzXCz img {
  object-fit: cover;
}

.web-1920-1 .pfad-1-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 1080px;
  left: -317px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 2592px;
}
