/* screen - web-1920-6 */

.web-1920-6 {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-6 .rechteck-9-cP7Vcs {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.web-1920-6 .rechteck-10-cP7Vcs {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.web-1920-6 .rechteck-11-cP7Vcs {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.web-1920-6 .rechteck-12-cP7Vcs {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.web-1920-6 .title-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .rechteck-8-cP7Vcs {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.web-1920-6 .rechteck-8-cP7Vcs:hover {
  transform: translate(0, -5px);
}

.web-1920-6 .apply-for-scholarship-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .enter-your-full-name-cP7Vcs {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.web-1920-6 .enter-your-full-name-cP7Vcs::placeholder {
  color: #c3bcbc99;
}

.web-1920-6 .enter-your-email-adress-cP7Vcs {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.web-1920-6 .enter-your-email-adress-cP7Vcs::placeholder {
  color: #c3bcbc99;
}

.web-1920-6 .enter-your-pers-al-ronin-wallet-cP7Vcs {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.web-1920-6 .enter-your-pers-al-ronin-wallet-cP7Vcs::placeholder {
  color: #c3bcbc99;
}

.web-1920-6 .lorem-ipsum-dol-no-sea-takimata-cP7Vcs {
  background-color: transparent;
  height: 205px;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 249px;
  width: 663px;
}

.web-1920-6 .noalnd-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .rechteck-14-cP7Vcs {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.web-1920-6 .connect-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .download-ronin-wallet-cP7Vcs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .rechteck-9-ftk7AB {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 831px;
  left: 213px;
  position: absolute;
  top: 147px;
  width: 791px;
}

.web-1920-6 .rechteck-10-ftk7AB {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 522px;
  width: 697px;
}

.web-1920-6 .rechteck-11-ftk7AB {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 626px;
  width: 697px;
}

.web-1920-6 .rechteck-12-ftk7AB {
  background-color: transparent;
  border-radius: 15px;
  height: 64px;
  left: 260px;
  position: absolute;
  top: 722px;
  width: 697px;
}

.web-1920-6 .send-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 896px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .rechteck-8-ftk7AB {
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  height: 56px;
  left: 507px;
  pointer-events: auto;
  position: absolute;
  top: 882px;
  transition: all 0.2s ease;
  width: 203px;
}

.web-1920-6 .rechteck-8-ftk7AB:hover {
  transform: translate(0, -5px);
}

.web-1920-6 .apply-for-scholarship-ftk7AB {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .enter-your-full-name-ftk7AB {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 538px;
  white-space: nowrap;
  width: 386px;
}

.web-1920-6 .enter-your-full-name-ftk7AB::placeholder {
  color: #c3bcbc99;
}

.web-1920-6 .enter-your-email-adress-ftk7AB {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 387px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: 444px;
}

.web-1920-6 .enter-your-email-adress-ftk7AB::placeholder {
  color: #c3bcbc99;
}

.web-1920-6 .enter-your-pers-al-ronin-wallet-ftk7AB {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 32px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 616px;
}

.web-1920-6 .enter-your-pers-al-ronin-wallet-ftk7AB::placeholder {
  color: #c3bcbc99;
}

.web-1920-6 .lorem-ipsum-dol-no-sea-takimata-ftk7AB {
  background-color: transparent;
  height: 205px;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 249px;
  width: 663px;
}

.web-1920-6 .noalnd-ftk7AB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .rechteck-14-ftk7AB {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1765px;
  position: absolute;
  top: 45px;
  width: 110px;
}

.web-1920-6 .connect-ftk7AB {
  background-color: transparent;
  height: auto;
  left: 1778px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .download-ronin-wallet-ftk7AB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 750px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 799px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .rechteck-19-cP7Vcs {
  background-color: var(--white);
  border-radius: 15px;
  height: 851px;
  left: 654px;
  position: absolute;
  top: 75px;
  width: 613px;
}

.web-1920-6 .mint-cP7Vcs {
  background-color: transparent;
  height: 20px;
  left: 1107px;
  object-fit: cover;
  position: absolute;
  top: 839px;
  width: 48px;
}

.web-1920-6 .rechteck-22-cP7Vcs {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  left: 1076px;
  position: absolute;
  top: 829px;
  width: 110px;
}

.web-1920-6 .rechteck-23-cP7Vcs {
  background-color: var(--white);
  height: 491px;
  left: 712px;
  position: absolute;
  top: 135px;
  width: 497px;
}

.web-1920-6 .mint-noland-nft-ter-scholarship-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 712px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 676px;
  width: 499px;
}
